<!DOCTYPE html>
html
    head
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            h1.massive Language Practice

        article
            form(action="/new")
                button(name="submit", class="submit-button") Go!